<%- layout('layouts/boilerplate') %>
    <div>
        <div class="row">
            <div class="col-md-6 d-flex justify-content-center mb-5">
                <div class="align-self-center">
                    <p class="ps-2" style="font-size: 2rem;">Are you hungry?</p>
                    <p style="font-size: 5rem;">Don't wait !</p>
                    <a href="" class="btn btn-success mt-2">Order now</a>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img class="img-thumbnail border-0" style="background: rgb(194, 197, 195);" src="img/hero-pizza.png"
                        alt="">
                </div>
            </div>

        </div>
        <hr>
        <div>
            <h1 class="mb-3 d-flex justify-content-center">ALL PIZZAS</h1>
            <div class="conatiner ">
                <div class="row mb-5">
                    <% for(let pizza of pizzas){ %>
                        <div class="col d-flex justify-content-center">
                            <div class="card mb-4 px-4 py-2" style="width: 18rem;">
                                <img src="img/pizza.png" class="card-img-top" alt="...">
                                <div class="card-body d-flex justify-content-center">
                                    <p class="card-title text-uppercase fs-5">
                                        <%= pizza.name %>
                                    </p>
                                </div>
                                <hr>
                                <div class="d-flex justify-content-between">
                                    <p class="text-uppercase fs-5">
                                        <%= pizza.size %>
                                    </p>
                                    <p class="fs-5">
                                        ₹ <%= pizza.price %>
                                    </p>
                                </div>

                                <div class="card-body">
                                    <button data-pizza="<%= JSON.stringify(pizza) %> "
                                        class="add-to-cart btn btn-success px-5 d-flex justify-content-center">
                                        <!--data-pizza is an attribute(data) used to access pizza in js file present in public we conerting pizza into json file-->
                                        <span>+</span>
                                        <span>Add</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

        </div>
    </div>